
	
<h1>Wallet Dashboard</h1>



<p>Your current amount in wallet: $<%=@wallet_total%></p>
<% if @wallet_total > 25 %>
  <p>Wallet contains enough money for spending</p>
<%  elsif @wallet_total == 25%>
  <p>Warning: You are about to go broke - only $25 left!</p>
 <% elsif @wallet_total < 25  && @wallet_total >= 1%>
  <p>Warning: Need to stop spending money, wallet is almost empty!</p>
  <% elsif @wallet_total < 1%>
   <p>WALLET IS NOW EMPTY!</p>
  <p>
<% end %>
 
<p>Number of wallet transactions:<%=@total_transactions%> </p>


<p><%= link_to 'New Wallet transaction', new_wallet_transaction_path %>

&nbsp;&nbsp;<%= link_to 'Wallet Transactions', wallet_transactions_path %></p>


