<%= form_for(@wallet_transaction) do |f| %>
  <% if @wallet_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wallet_transaction.errors.count, "error") %> prohibited this wallet_transaction from being saved:</h2>

      <ul>
      <% @wallet_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Category_Type %><br>
    <%= f.select :Category_Type, options_for_select([["Income"],["Cost"]])%>
  </div>
  
  
  <div class="field">
    <%= f.label :Transaction_Description %><br>
    <%= f.text_area :Transaction_Description %>
  </div>
  <div class="field">
    <%= f.label :Amount %><br>
    <%= f.number_field :Amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
