<p id="notice"><%= notice %></p>

<h1>Listing Wallet Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Category type</th>
      <th>Transaction description</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wallet_transactions.each do |wallet_transaction| %>
      <tr>
        <td><%= wallet_transaction.Category_Type %></td>
        <td><%= wallet_transaction.Transaction_Description %></td>
        <td><%= wallet_transaction.Amount %></td>
        <td><%= link_to 'Show', wallet_transaction %></td>
        <td><%= link_to 'Edit', edit_wallet_transaction_path(wallet_transaction) %></td>
        <td><%= link_to 'Destroy', wallet_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>Your current amount in wallet: $<%=WalletTransaction.wallet_amount%></p>

<%= link_to 'New Wallet transaction', new_wallet_transaction_path %>&nbsp;&nbsp;
<%= link_to 'Dashboard', root_path %></p>


