<p id="notice"><%= notice %></p>

<p>
  <strong>Category type:</strong>
  <%= @wallet_transaction.Category_Type %>
</p>

<p>
  <strong>Transaction description:</strong>
  <%= @wallet_transaction.Transaction_Description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @wallet_transaction.Amount %>
</p>

<%= link_to 'Edit', edit_wallet_transaction_path(@wallet_transaction) %> |
<%= link_to 'Back', wallet_transactions_path %>
